{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
    <h1>Bienvenu sur Movie DB</h1>

        </div>
    </div>
{% endblock %}

{% block metas %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
